# EditorConfig for Grafana configuration files
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

# Grafana provisioning files
[provisioning/**/*.yml]
# These are Grafana provisioning files, not Prometheus config
# Ignore schema validation warnings
